language: swift
osx_image: xcode9.3

branches:
  only:
    - master

env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8

before_install:
  - rvm install ruby-2.3.0
  - gem install cocoapods
  - gem install xcpretty -N
  - brew update

machine:
  xcode:
    version: "9.3"

deployment:
  release:
    tag: /.*/
    commands:
      - pod trunk push